<html>
<body>
    <div>
       <h1>Online Shoppers Intention Prediction Application</h1>
       <form action="{{ url_for('prediction_endpoint')}}" method="post">
        <div>
            <label class="form-label">Administrative:</label>&nbsp
            <input class="form-control" type="number" name="Administrative"
                placeholder="" min='0' max='26'  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Administrative Duration:</label>&nbsp
            <input class="form-control" type="text" name="Administrative_Duration"
                placeholder="Enter Administrative Duration value"  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Informational:</label>&nbsp
            <input class="form-control" type="number" name="Informational"
                placeholder="" min='0' max='13'  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Informational Duration:</label>&nbsp
            <input class="form-control" type="text" name="Informational_Duration"
                placeholder="Enter Informational Duration value"  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Product Related:</label>&nbsp
            <input class="form-control" type="number" name="Product_Related"
                placeholder="" min='0' max='705'  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Product Related Duration:</label>&nbsp
            <input class="form-control" type="text" name="ProductRelated_Duration"
                placeholder="Enter Product Related Duration value"  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Bounce Rates:</label>&nbsp
            <input class="form-control" type="text" name="BounceRates"
                placeholder="Enter Bounce Rates value"  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Exit Rates:</label>&nbsp
            <input class="form-control" type="text" name="ExitRates"
                placeholder="Enter Exit Rates value"  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Page Values:</label>&nbsp
            <input class="form-control" type="text" name="PageValues"
                placeholder="Enter Page Values Duration value"  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Special Day:</label>&nbsp
            <input class="form-control" type="text" name="SpecialDay"
                placeholder="Enter Special Day value"  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Month:</label>&nbsp
            <select class="form-control" name="Month" placeholder="Select Month" required>
                <option class="placeholder" selected disabled value="">Select Month</option>
                <option value="Jan">
                    Jan
                </option>
                <option value="Feb">
                    Feb
                </option>
                <option value="Mar">
                    Mar
                </option>
                <option value="Apr">
                    Apr
                </option>
                <option value="May">
                    May
                </option>
                <option value="Jun">
                    Jun
                </option>
                <option value="Jul">
                    Jul
                </option>
                <option value="Aug">
                    Aug
                </option>
                <option value="Sep">
                    Sep
                </option>
                <option value="Oct">
                    Oct
                </option>
                <option value="Nov">
                    Nov
                </option>
                <option value="Dec">
                    Dec
                </option>
            </select>
        </div>
        <br>
        <div>
            <label class="form-label">Operating Systems:</label>&nbsp
            <input class="form-control" type="number" name="OperatingSystems"
                placeholder="" min='1' max='13'  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Browser:</label>&nbsp
            <input class="form-control" type="number" name="Browser"
                placeholder="" min='1' max='8'  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Region:</label>&nbsp
            <input class="form-control" type="number" name="Region"
                placeholder="" min='1' max='9'  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Traffic Type:</label>&nbsp
            <input class="form-control" type="number" name="TrafficType"
                placeholder="" min='1' max='20'  required/>
        </div>
        <br>
        <div>
            <label class="form-label">Visitor Type:</label>&nbsp
            <select class="form-control" name="VisitorType" placeholder="Select Visitor Type" required>
                <option class="placeholder" selected disabled value="">Select Visitor Type</option>
                <option value="New_Visitor">
                    New Visitor
                </option>
                <option value="Other">
                    Other
                </option>
                <option value="Returning_Visitor">
                    Returning Visitor
                </option>
            </select>
        </div>
        <br>
        <div>
            <label class="form-label">Weekend:</label>&nbsp
            <select class="form-control" name="Weekend" placeholder="Weekend" required>
                <option class="placeholder" selected disabled value="">Weekend</option>
                <option value="False">
                    False
                </option>
                <option value="True">
                    True
                </option>
            </select>
        </div>
        <br><br>
        <div>
            <input class="btn btn-primary" type="submit" value="Predict Online Shopper Intention" required />
        </div>
    </form>
    <script>
        var input = document.querySelectorAll('input');
        for(i=0; i<input.length; i++){
            input[i].setAttribute('size',input[i].getAttribute('placeholder').length);
        }
    </script>
    <h2>
       Online Shopper Purchase Intention Prediction: {{results}}
    </h2>
   <body>
</html>